@media screen and (max-width: 375px){
    *{
        margin: 0;
        padding: 0;
    }

/*  Classes  */
    .container{
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto auto;
    }
    .upper{
        background-color: black;
    }
    .lower{
        background-color: black;
    }
}